body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  position: relative;

  display: inline-flex;
  justify-content: center;
  width: 700px;
  margin-top: 3rem;
}
