@import '../../common/reset.module.css';

body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 500px;
  margin-top: 3rem;
}

.buttonsWrapper {
  position: absolute;
  bottom: 7.5rem;
}

.fullScreenButton {
  position: absolute;
  right: 0;
  top: 0;
}

.fullScreenCarousel {
  margin: 0;
}

.rangeInput {
  position: absolute;
  left: 8rem;
  top: 0.2rem;
}
