$line-height: 1.35;
$lines-to-show: 5.5;
$font-size: 1rem;

.slide {
  display: none;
  font-family: sans-serif;
  width: 100%;
  height: 100%;

  &Figcaption {
    display: block;
    position: absolute;
    top: 0;
    padding: 2rem;

    line-height: 1.35;
    opacity: 0;
    color: white;
    background-color: dodgerblue;
    max-height: $font-size * $line-height * $lines-to-show;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &Figcaption:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

.currentSlide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreenSlide {
  width: 100%;
  height: 100%;
}
