$image-size: 700px;
$line-height: 1.35;
$lines-to-show: 5.5;
$font-size: 1rem;

.slide {
  display: none;
  font-family: sans-serif;

  &Img {
    width: 100%;
    height: 100%;
    min-width: $image-size;
    min-height: $image-size;
  }

  &Figcaption {
    display: block;
    position: absolute;
    top: 0;
    padding: 2rem;

    line-height: 1.35;
    opacity: 0;
    color: white;
    background-color: dodgerblue;
    max-height: $font-size * $line-height * $lines-to-show;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &Figcaption:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

.currentSlide {
  display: block;
}

.fullScreenSlide {
  &Img {
    width: 100vw;
    height: 100vh;
    object-position: center;
    object-fit: cover;
  }
}
